@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .overflow-wrap-any {
    overflow-wrap: anywhere;
  }
  @font-face {
    font-family: 'Inter'; 
    font-weight: 400; 
    font-display: swap;
    src: url("/fonts/inter-400.woff2");
  } 
  @font-face {
    font-family: 'Inter'; 
    font-weight: 600; 
    font-display: swap;
    src: url("/fonts/inter-500.woff");
  } 
  @font-face {
    font-family: 'Inter'; 
    font-weight: 700; 
    font-display: swap;
    src: url("/fonts/inter-700.woff2");
  } 
  @font-face {
    font-family: 'Playfair'; 
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/DMSerif.woff2");
  } 
}
